/* CREATING WEBSITE RESPONSIVE */
@media screen and (max-width: 991px) {
    .toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none
    }

    .example-card {
        width: calc(50% -10px);
        gap: 30px
    }
}

@media screen and (max-width: 768px) {
    .header-section {
        flex-direction: column-reverse;
    }

    .getStartedbtn {
        width: 100%;
        text-align: center;
    }

    .example-card {
        width: calc(50% -20px);
        gap: 20px
    }

    .block img {
        width: 100%;
    }

    .first-block {
        flex-direction: column;
    }

    .second-block {
        flex-direction: column-reverse;
    }

    .third-block {
        flex-direction: column;
    }

    .footer-container {
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .box {
        align-items: stretch;
    }

    .sub-footer-container {
        flex-wrap: wrap;
    }
}